@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraMono';
  src: url('/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #f0f1f4;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow: auto;
  position: relative;
}

h1 {
  font-variation-settings: "wght" 200;
  font-family: 'Montserrat', 'Wingdings';
}

pre,
code,
.code {
  background: #00000022;
  font-family: 'FiraMono', 'Courier New', Courier, monospace;
  font-size: 12px !important;
  max-height: 300px;
  overflow: auto;
  padding: 0.5rem;
}
